<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alina.medical">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.alina.medical.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alina.medical.AppointmentActivity" />
        <activity android:name="com.alina.medical.DateActivity" />
        <activity android:name="com.alina.medical.Date2Activity" />
        <activity android:name="com.alina.medical.DateScheduleActivity" />
        <activity android:name="com.alina.medical.ReportActivity" />
        <activity android:name="com.alina.medical.ScheduleActivity" />
        <activity android:name="com.alina.medical.DoctorActivity" />
        <activity android:name="com.alina.medical.ContactsActivity" />
        <activity android:name="com.alina.medical.AboutActivity"></activity>
    </application>

</manifest>